version: 2
jobs:
  build-and-test:
    docker:
      - image: node:8
    steps:
      - checkout
      - run:
        name: NPM Install
        command: cd run-suite-task && npm install
      - run:
        name: Run tests
        command: cd run-suite-task && npm test
workflows:
  version: 2
  build_and_test:
    jobs:
      - build-and-test
